{% extends "index.html" %}

{% block content %}
    <p>
        <a type="button" class="btn" id="create_ticket" href="#create_ticket_form" data-toggle="modal">Create new ticket</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <th>Project</th>
            <th>Ticket</th>
            <th>Total</th>
            <th>Current</th>
            <th></th>
        </thead>
        <tbody data-bind="foreach: tickets">
            <tr data-bind="attr: { id: id }" class="ticket-line">
                <td data-bind="text: project"></td>
                <td data-bind="text: name"></td>
                <td data-bind="attr: { id: id }, text: time" class="time-logged"></td>
                <td class="timer">
                    <span data-bind="attr: { id: id }" class="hours">0</span><span>:</span>
                    <span data-bind="attr: { id: id }" class="minutes">0</span><span>:</span>
                    <span data-bind="attr: { id: id }" class="secundes">0</span>
                    <a data-bind="attr: { id: id }, click: $parent.start_timer" type="button" class=" btn start-button" value="START"/>START</a>
                    <a data-bind="attr: { id: id }, click: $parent.stop_timer" class=" btn stop-timing" type="button" value="STOP"/>STOP</a>
                </td>
                <td><a data-bind="attr: { id: id }, click: $parent.close_open_ticket" class="btn close-open-ticket">Archive</a></td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="create_ticket_form">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>New ticket</h3>
        </div>
        <div class="modal-body">
            <form>
                <p><label>Project:</label>
                <a type="button" class="btn" data-bind="click: show_new_project">Create new project</a></p>
                <div class="new-project-name">
                    <label>Project name:</label>
                    <input id="project_name" type="text">
                </div>
                <select name="project" class="span2" data-bind="
                    options: projects
                "></select>
                <label>Ticket name:</label>
                <input id="ticket_name" type="text">
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a data-bind="click: create_new_ticket" id="create_new_ticket" class="btn btn-primary">Create</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/main.js" type="text/javascript"></script>
{% endblock %}